
<!DOCTYPE html>
<html>
<head>
 
         <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="generator" content="Mobirise v5.0.29, mobirise.com"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
  <link rel="shortcut icon" href="assets/images/mbr-183x154.png" type="image/x-icon"/>
  <meta name="description" content="Adopcion de animalitos"/>
  
  
  <title>Registro de adopcion</title>
  
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css"/>
  <link rel="stylesheet" href="assets/tether/tether.min.css"/>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css"/>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css"/>
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css"/>
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css"/>
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css"/>
  <link rel="stylesheet" href="assets/dropdown/css/style.css"/>
  <link rel="stylesheet" href="assets/socicon/css/styles.css"/>
  <link rel="stylesheet" href="assets/theme/css/style.css"/>
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css"/>
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css"/>
  
  
    </head>
	
    <body>

                
     <section class="menu cid-s48OLK6784" once="menu" id="menu1-h">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="index.html">
                        <img src="assets/images/mbr-183x154.png" alt="gatillo" style="height: 3.8rem;"/>
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black text-primary display-7" href="index.html">Adopcion de animalitos</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-secondary display-4" href="registro-de-adopcion.html"><span class="mobi-mbri mobi-mbri-github mbr-iconfont mbr-iconfont-btn"></span>Publicar adopcion</a></li></ul>
                <div class="icons-menu">
                    <a class="iconfont-wrapper" href="https://www.instagram.com/Belacqua.annie/" target="_blank">
                        <span class="p-2 mbr-iconfont socicon-instagram socicon"></span>
                    </a>      
                </div>             
            </div>
        </div>
    </nav>
</section>           
          
	   <div class="row justify-content-center">
                
              <div class="col-lg-7 col-12">
                <div class="image-wrapper">
                    <img class="w-100" src="assets/images/mbr-1666x1110.jpg" alt="mascotas"/>
                </div>
            </div>
               
                <form class="col-lg-3 offset-lg-1 mbr-form">
                    <div class="col-lg-12 col-md col-sm-12 form-group-row">
                       
                        <h:outputLabel value="Nombre" for="id" class="col-lg-12 col-md col-sm-12 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="id" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.nombre}" class="form-control">
                            </h:inputText>
                            <h:message for="id" class="text-danger"/>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md col-sm-12 form-group">
                        <h:outputLabel value="Apellidos" for="nombre" class="col-sm-2 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="nombre" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.apellido}" class="form-control"/>
                            <h:message for="nombre" class="text-danger"/>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md col-sm-12 form-group">
                        <h:outputLabel value="Correo" for="primerApellido" class="col-sm-2 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="primerApellido" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.correo}" class="form-control"/>
                            <h:message for="primerApellido" class="text-danger"/>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md col-sm-12 form-group">
                        <h:outputLabel value="Nombre Mascota" for="segundoApellido" class="col-sm-2 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="segundoApellido" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.telefono}" class="form-control"/>
                            <h:message for="segundoApellido" class="text-danger"/>
                        </div>
                    </div>
                       <div class="col-lg-12 col-md col-sm-12 form-group">
                        <h:outputLabel value="Descripcion del adopcion" for="direccion" class="col-sm-2 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="direccion" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.direccion}" class="form-control"/>
                            <h:message for="direccion" class="text-danger"/>
                        </div>
                    </div>
                      <div class="col-lg-12 col-md col-sm-12 form-group">
                        <h:outputLabel value="Foto Mascota" for="foto" class="col-sm-2 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="foto" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.direccion}" class="form-control"/>
                            <h:message for="foto" class="text-danger"/>
                        </div>
                    </div>
                    <div style="margin-top: 30px ">
  
                        <h:commandButton id="bloquearBoton" value="Guardar" action="#{ingresar.guardarInformacion()}"
                                         class="btn btn-black display-4"/>
                    </div>
                <form>
                 
                 </div>   
                    <div class="col-lg-12 col-md col-sm-12 form-group-row">
                       
                        <h:outputLabel value="Nombre" for="id" class="col-lg-12 col-md col-sm-12 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="id" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.nombre}" class="form-control">
                            </h:inputText>
                            <h:message for="id" class="text-danger"/>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md col-sm-12 form-group">
                        <h:outputLabel value="Apellidos" for="nombre" class="col-sm-2 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="nombre" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.apellido}" class="form-control"/>
                            <h:message for="nombre" class="text-danger"/>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md col-sm-12 form-group">
                        <h:outputLabel value="Correo" for="primerApellido" class="col-sm-2 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="primerApellido" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.correo}" class="form-control"/>
                            <h:message for="primerApellido" class="text-danger"/>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md col-sm-12 form-group">
                        <h:outputLabel value="Nombre Mascota" for="segundoApellido" class="col-sm-2 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="segundoApellido" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.telefono}" class="form-control"/>
                            <h:message for="segundoApellido" class="text-danger"/>
                        </div>
                    </div>
                       <div class="col-lg-12 col-md col-sm-12 form-group">
                        <h:outputLabel value="Descripcion del adopcion" for="direccion" class="col-sm-2 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="direccion" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.direccion}" class="form-control"/>
                            <h:message for="direccion" class="text-danger"/>
                        </div>
                    </div>
                      <div class="col-lg-12 col-md col-sm-12 form-group">
                        <h:outputLabel value="Foto Mascota" for="foto" class="col-sm-2 col-form-label"/>
                        <div class="col-lg-12 col-md col-sm-12">
                            <h:inputText id="foto" required="true" requiredMessage="Campo Obligatorio"
                                         value="#{ingresar.direccion}" class="form-control"/>
                            <h:message for="foto" class="text-danger"/>
                        </div>
                    </div>
                    <div style="margin-top: 30px ">
  
                        <h:commandButton id="bloquearBoton" value="Guardar" action="#{ingresar.guardarInformacion()}"
                                         class="btn btn-black display-4"/>
                    </div>
                </form>
                
            
             <section class="footer3 cid-s8pGHYTgcn" once="footers" id="footer3-w">
  <div class="container">
        <div class="media-container-row align-center mbr-white">
            
            <div class="row social-row">
                <div class="social-list align-right pb-2">           
                <div class="soc-item">
                        <a href="https://www.instagram.com/Belacqua.annie/" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2020 Grupo 6 Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</section>
           

 
    </body>
	
	
</html>
